.main {
    width: 60%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    .tool {
        height: 10%;
        background: red;
    }
    .content {
        height: 90%;
        position: relative;
        .canvas {
            position: absolute;
            width: 466.66px;
            height: 660px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
